# Maven
target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.swp

# Env files
.env

#github action
actions-runner/